<div class="card-container">
    <div 
    class="card" 
    (click)="cardClicked()"
    [ngClass]="state">

        <div class="front">
            <div *ngIf="member.imageUrl !== ''" 
                class="imageDiv"
                style="background-image: url('{{ member.imageUrl }}'), url('https://t3.ftcdn.net/jpg/03/53/11/00/360_F_353110097_nbpmfn9iHlxef4EDIhXB1tdTD0lcWhG9.jpg');"
                alt="Picture"
                draggable="false">
            </div>
            <p *ngIf="member.imageUrl === ''">No pictures</p>
            <p>{{member.name}}</p>
        </div>
        <div class="back">
            <p>{{member.role}}</p>
            <p *ngIf="member.lineup">{{member.lineup}}</p>
        </div>
    </div>
</div>