@font-face {
    font-family: "Teko";
    src: url("./assets/fonts/Teko-Medium.ttf");
}

$bgColor_light: white;
$bgColor_dark: black;

$textColor_light: white;
$textColor_dark: white;

$borderColor_light: black;
$borderColor_dark: white;

$greyColor_light: rgb(74, 74, 74);
$greyColor_dark: rgb(150, 150, 150);

// mixin that enables css variables in light mode
@mixin lighten() {
    --bgColor: #{$bgColor_light};
    --textColor: #{$textColor_light};
    --borderColor: #{$borderColor_light};
    --greyColor: #{$greyColor_light};
}

// mixin that enables css variables in dark mode
@mixin darken() {
    --bgColor: #{$bgColor_dark};
    --textColor: #{$textColor_dark};
    --borderColor: #{$borderColor_dark};
    --greyColor: #{$greyColor_dark};
}

body.dark {
    @include darken();
}
body.light, body:not(.dark) {
    @include lighten();
}

body {
    margin: 0;
    font-family: 'Teko';
    font-size: 1.5em;

    background: hsla(246, 71%, 14%, 1);

    background: linear-gradient(45deg, hsla(246, 71%, 14%, 1) 0%, hsla(335, 93%, 48%, 1) 50%, hsla(49, 100%, 51%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(246, 71%, 14%, 1) 0%, hsla(335, 93%, 48%, 1) 50%, hsla(49, 100%, 51%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(246, 71%, 14%, 1) 0%, hsla(335, 93%, 48%, 1) 50%, hsla(49, 100%, 51%, 1) 100%);

    color: var(--textColor);

    background-repeat: no-repeat;
    background-attachment: fixed;

    -ms-overflow-style: none;
    scrollbar-width: none; 
}

a {
    text-decoration: none;
    color: var(--textColor);
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

app-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & > :nth-child(2) {
        flex-grow: 5;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main {
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    display: none;
}

$breakpoint-large: 1400px;
@media (min-width: $breakpoint-large) {
    main {
        width: 1300px;
    }
}

@media (max-width: $breakpoint-large) {
    main {
        width: 95%;
    }
}