.news-container {
    margin: 0;

    border: 1px solid var(--textColor);

    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    // @media (min-width: $breakpoint-header) {
        
    // }

    // @media (max-width: $breakpoint-header) {

    // }
    gap: 30px;

    padding: 0 20px;
    border-radius: 20px;

    cursor: pointer;
    user-select: none;

    &:hover {
        padding: 0 30px;
    }

    transition: all .5s;
    
    & h2 {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    & img {
        max-height: 150px;
        max-width: 90%;
    }
}

$breakpoint-header: 900px;
@media (max-width: $breakpoint-header) {
    .news-container {

        flex-direction: column;
        // justify-content: center;

        & img {
            margin-top: 10px;
        }
    }
}