header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    user-select: none;
    
    // Left side of the header
    & #left-header {
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        text-transform: uppercase;

        & h1 {
            font-weight: 800;
            margin: 0;
            padding-top: 8px;
        }

        & img {
            display: block;
            border-radius: 100%;
            height: 80%;
        }
    }


    // Left side of the header
    & nav {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        
        & ul {
            display: flex;
            
            & li {
                list-style-type: none;
                display: inline-block;
            }
        }

    }

    & .hamburger {
        // Changing color to white
        display: none;
        margin-top: auto;
        margin-bottom: auto;

        & .bar {
            display: block;
            width: 40px;
            height: 5px;
            margin: 7px 0;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: var(--textColor);
            border-radius: 5px;
        }

        &.active .bar:nth-child(2) {
            opacity: 0;
        }

        &.active .bar:nth-child(1) {
            transform: translateY(12px) rotate(45deg);
        }

        &.active .bar:nth-child(3) {
            transform: translateY(-12px) rotate(-45deg);
        }
    }
}

$breakpoint-header: 550px;
@media (min-width: $breakpoint-header) {
    header {
        & nav {
            & ul {
                gap: 20px;
            }

            & a {
                color: var(--textColor);
                height: 100%;
                display: flex;
                align-items: center;

                font-weight: 550;
            
                text-transform: uppercase;

                
                position: relative;
                
                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0%;
                    content: '.';
                    color: transparent;
                    background: var(--textColor);
                    height: 2px;
                    transition: width 1s;
                }
                
                &:hover::after {
                    background: var(--borderColor);
                    width: 100%;
                }
                
                &:hover {
                    color: var(--borderColor);
                    text-decoration: none;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-header) {
    header {
        & ul {
            position: fixed;
            left: 0;
            top: -1000px;
            gap: 0;
            flex-direction: column;
            background-color: #fff;
            width: 100%;
            border-radius: 10px;
            z-index: 10000;
            text-align: center;
            transition: 0.3s;
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            
            & a {
                display: block;
                color: black;
                width: 100%;
                padding: 15px 0;
                border-bottom: 1px solid black;
            }
            
            & :last-child a {
                border: none;
            }
        }

        & ul.active {
            top: 50px;
        }

        & .hamburger {
            display: block;
            cursor: pointer;
        }
    }
}
