<header>
    <a routerLink="">
        <div (click)="linkClicked()" id="left-header">
            <img src="/assets/images/logo.jpg" alt="Eclipse logo" class="logo">
            <h1>Eclipse</h1>
        </div>
    </a>
    <nav>
        <ul [ngClass]="showNavOnMobile ? 'active' : ''">
            <li (click)="linkClicked()"><a routerLink="/" >Home</a></li>
            <li (click)="linkClicked()"><a routerLink="/news" >News</a></li>
            <li (click)="linkClicked()"><a routerLink="/members" >Members</a></li>
            <li (click)="linkClicked()"><a routerLink="/about" >About</a></li>
            <li *ngIf="admin.token" (click)="linkClicked()"><a routerLink="/admin" >Admin</a></li>
        </ul>
    </nav>
    <div class="hamburger" (click)="burgerClicked()" [ngClass]="showNavOnMobile ? 'active' : ''">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</header>