<footer>
    <div class="socials">
        <h4>Socials</h4>
        <ul>
            <li>twitter</li>
            <li>twitter</li>
            <li>twitter</li>
            <li>twitter</li>
            <li>twitter</li>
        </ul>
    </div>
    <div class="credit">
        Eclipse @ 2023
    </div>
    <ul class="sitemap">
        <h4>SiteMap</h4>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/news">News</a></li>
        <li><a routerLink="/members">Members</a></li>
        <li><a routerLink="/about">About</a></li>
    </ul>
</footer>